@page "/EditNCC/{Ma_NCC}"
@inject NavigationManager NavigationManager
<h3>Chỉnh sửa NCC</h3>
<br />
<EditForm Model="v_objNCC" OnValidSubmit="UpdateNCC">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="id">Mã NCC</label>
        <InputText id="id" @bind-Value="v_objNCC.Ma_NCC" class="form-control" readonly></InputText>
    </div>
    <div class="form-group">
        <label for="name">Tên NCC</label>
        <InputText id="name" @bind-Value="v_objNCC.Ten_NCC" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="note">Ghi Chú</label>
        <InputText id="note" @bind-Value="v_objNCC.Ghi_Chu" class="form-control"></InputText>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Lưu</button>
    <button type="button" class="btn btn-primary" @onclick="BackToList">Quay Lại</button>
</EditForm>
@if (IsUpdated)
{
    if (v_ires == 1)
    {
        <p class="alert alert-success">Cập nhập thành công</p>
    }
    else
    {
        <p class="alert alert-danger">Cập nhập thất bại</p>
        <p class="alert alert-danger">@v_strArlertMessage</p>

    }
}
@code {
    [Parameter]
    public string Ma_NCC { get; set; }
    private CDM_NCC v_objNCC = new ();
    private CDM_NCC_Controller v_objNCCController = new();
    private bool IsUpdated = false;
    private int v_ires = 0;
    private string v_strArlertMessage = string.Empty;
    protected override void OnInitialized()
    {
        v_objNCC = v_objNCCController.FQ_123_N_sp_sel_Get_By_ID(Ma_NCC);
    }
    private void UpdateNCC()
    {
        if (this.v_objNCC != null)
        {
            try
            {
                IsUpdated = true;
                v_ires = v_objNCCController.FQ_123_N_sp_upd_Update(v_objNCC);
            }
            catch (Exception ex)
            {
                v_ires = 0;
                v_strArlertMessage = ex.Message;
                Console.WriteLine(ex.ToString());
            }

        }
    }
    private void BackToList()
    {
        NavigationManager.NavigateTo("/NCC");
    }
}
