@page "/AddLSP"

@inject NavigationManager NavigationManager

<h3>Thêm mới Loại Sản Phẩm</h3>
<br />
<EditForm Model="v_objLSP" OnValidSubmit="InsertLSP">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="id">Mã Loại Sản Phẩm</label>
        <InputText id="id" @bind-Value ="v_objLSP.Ma_LSP" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="name">Tên Loại Sản Phẩm</label>
        <InputText id="name" @bind-Value="v_objLSP.Ten_LSP" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="note">Ghi Chú</label>
        <InputText id="note" @bind-Value="v_objLSP.Ghi_Chu" class="form-control"></InputText>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Lưu</button>
    <button type="button" class="btn btn-primary" @onclick="BackToList" >Quay Lại</button>
</EditForm>

@if (IsInserted)
{
    if (v_ires  == 1)
    {
        <p class="alert alert-success">Thêm mới thành công</p>
    }
    else
    {
        <p class="alert alert-danger">Thêm mới thất bại</p>
    }
}
@code {
    private CDM_Loai_San_Pham v_objLSP = new();
    private CDM_Loai_San_Pham_Controller v_objLSPController = new();
    private bool IsInserted = false;
    private int v_ires = 0;
    private void InsertLSP()
    {
        if(this.v_objLSP != null)
        {
            try
            {
                IsInserted = true;
                v_ires = v_objLSPController.FQ_122_LSP_sp_ins_Insert(v_objLSP);
            }
            catch(Exception ex)
            {
                v_ires = 0;
                Console.WriteLine(ex.ToString());
            }

        }
    }
    private void BackToList()
    {
        NavigationManager.NavigateTo("/LSP");
    }
}
