@page "/LSP"

<h3>Loại Sản Phẩm</h3>
<br/>
<SearchLoaiSanPhamComponent
    OnSearchLSP="OnLSPSearch"
    ></SearchLoaiSanPhamComponent>
<br />
<LoaiSanPhamListComponent
    ></LoaiSanPhamListComponent>

@code {
    private string v_strSearchTerm = string.Empty;
    private void OnLSPSearch(string searchTerm)
    {
        this.v_strSearchTerm = searchTerm;
    }
}
