<table class="table"
    <thead>
        <tr>
            <th>Mã LSP</th>
            <th>Tên LSP</th>
            <th>Ghi Chú</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in v_arrLSP)
        {
            <tr>
                <td>@item.Ma_LSP</td>
                <td>@item.Ten_LSP</td>
                <td>@item.Ghi_Chu</td>
                <td>
                    <button type="button"
                        class="btn btn-light"></button>
                </td>
            </tr>
        }
    </tbody>
></table>
@code {
    public List<CDM_Loai_San_Pham> v_arrLSP = new();
    CDM_Loai_San_Pham_Controller v_objLSPController = new();
    [Parameter]
    public string v_strSearchTerm { get; set; } = string.Empty;
    protected override void OnParametersSet()
    {
        base.OnParametersSet();

    }
    protected override void OnInitialized()
    {
        v_arrLSP = v_objLSPController.FQ_122_LSP_sp_sel_List_For_Cache();
    }
}
